{
  "trailingComma": "none",
  "tabWidth": 4,
  "semi": true,
  "singleQuote": false,
  "printWidth": 180,
  "bracketSpacing": false,
  "bracketSameLine": true,
  "arrowParens": "always",
  "endOfLine": "lf"
}
